@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hr />

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <a href="Bomberman" class="thumbnail">
                <img src="Bomberman/bomberman_preview.PNG" alt="" />
                <
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <img src="Bomberman/soon.png" alt="..." style="width: 250px;height:250px" />
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <img src="Bomberman/soon.png" alt="..." style="width: 250px;height:250px" />
            </a>
        </div>
        
    </div>
</div>
